
.height {
	height: 50vh;
}

#container-main {
	background-color: rgba(255, 0, 0, 0.534);
	color: #ffffff;
}

.code {
	color: rgb(32, 70, 141);
}

.bg-code {
	background-color: rgb(242, 242, 243);
}

footer {
	background-color: #4D4D4D;
	color: #ffffff;
}
nav {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
